.ncge-insert {
    text-align: center;
    text-shadow: 0 -1px #400919;
    color: #FFFFFF;
    background-color: #D71E54;
    font-size: 15px;
    padding: 2px 10px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    border-radius: 2px;
}
