.ncge-badges {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}

.ncge-badge {
    color: #333333;
    background-color: #F2F2F2;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 5px;
    margin: 0 5px;
    border-radius: 2px;
    display: inline-block;
}

.ncge-badge--close {
    color: #FFFFFF;
    background-color: #D71E54;
}

.ncge-badge--clutch {
    color: #FFFFFF;
    background-color: #1d428a;
}
